* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    overflow:auto
    
}
body {
    background-color: #EEBA35;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em;
}

.container {
    height: 700px;
    width: 700px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
}
.card{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.card img {
    max-width: 80%;
    max-height: 80%;
}